<!--welcome.html-->
<!DOCTYPE html>
<html>
<head>
  <title> Welcome </title>
</head>
<body>
  <div class="container">
    <form method="post" action="/info">
      <input type="text" name="address" id="address" placeholder="address"></input>
      <label>Political Affiliation</label>
      <select name="politicalParty">
        <option value="Democrat">Democrat</option>
        <option value="Republican">Republican</option>
        <option value="Unaffiliated">Unaffiliated</option>
      </select>

      <div class="votingType">
        <input type="radio" value="regular" name="votingType">Regular Voting<br>
        <input type="radio" value="early" name="votingType">Early Voting<br>
        <input type="radio" value="absentee" name="votingType">Absentee Ballot
      </div>

      <input type="submit" class="btn" value="Submit"></input>
    </form>

  </div>
</body>
<script type="text/javascript" src="../scripts/autocomplete.js"></script>
</html>
