<!--welcome.html-->
<!DOCTYPE html>
<html>
<head>
  <title> Welcome </title>
    <link rel="stylesheet" href="../styles/mainStyles.css">
  <link href="https://fonts.googleapis.com/css?family=Capriola|Pacifico" rel="stylesheet">
</head>
<body>
  <div id="header">
    <h1>Poll It!</h1>
  </div>
  <div class="container">
    <form method="post" action="/info">
      <input type="text" name="address"  id="address" placeholder="address"class = "box"></input>
      <br>
      <label>Political Affiliation</label>
      <br>
      <select name="politicalParty" placeholder="Political Affiliation"  class = "box">
        <option value="democrat">Democrat</option>
        <option value="republican">Republican</option>
        <option value="unaffiliated">Unaffiliated</option>
      </select>

      <div class="votingType">
        <label class="shell">
        <input type="radio" value="regular" name="votingType">Regular Voting
        <span class="checkmark"></span>
        </label>
        <label class="shell">
        <input type="radio" value="early" name="votingType">Early Voting
        <span class="checkmark"></span>
        </label>
        <label class="shell">
        <input type="radio" value="absentee" name="votingType">Absentee Ballot
        <span class="checkmark"></span>
        </label>
      </div>
      <br>

      <input type="submit" class="btn" value="Submit"></input>
    </form>

  </div>
</body>
<script type="text/javascript" src="../scripts/autocomplete.js"></script>
</html>
