html,  body {
  text-align: center;
}
.icon {
  height: 20px;
  width: 20px;
}

#header {
  background-color:#BFD7EA;
  border-radius: 15px;
  height: 150px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: 'Pacifico', cursive;
  color: #FF5A5F;
  font-size: 30px;
}
