html,  body {
  text-align: center;
  background-color: #FFFFF7;
  font-family: helvetica;
}
a {
  display: inline-block;
}
.icon {
  height: 25px;
  width: 25px;
  vertical-align: middle;
}
#header {
  background-color:#BFD7EA;
  border-radius: 15px;
  height: 150px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: 'Pacifico', cursive;
  color: #FF5A5F;
  font-size: 30px;
}
