body {
background-color: #FFFFF7;
}

#header {
  background-color:#BFD7EA;
  border-radius: 15px;
  height: 150px;
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: 'Pacifico', cursive;
  color: #FF5A5F;
  font-size: 30px;
}

.container{
  text-align: center;
}

input[type=text], select {
    width: 10%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    display: inline-block;
}
input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 20%;
}

.shell {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.shell input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}


.shell:hover input ~ .checkmark {
    background-color: #ccc;
}

.shell input:checked ~ .checkmark {
    background-color: #FF5A5F;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.shell input:checked ~ .checkmark:after {
    display: block;
}

.shell .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  border-radius: 20px;
}
